
/* General style */

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;   

}
:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 45vw; 
    height: 100vh;
    background-color: var(--Light-grey);
    align-items: center;
    justify-content:center;
    color: var(--Off-black);
    font-size: 1rem;
    font-weight: 700;
    font: normal 16px 'Poppins', serif;

    
}

.mainDiv{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 75vh;
    min-width: 45vw;
    align-items: start;
    justify-content:center;
    background-color: var(--White);
    border-radius: 2rem 2rem 12rem 2rem;
    margin-bottom: 2rem;

}
 
.inputWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 90%;
    margin-left: 0;
    margin-left: 3.6rem;
}

.inputWrap p{
    font-size: 1.3rem;
}

.dateInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}

label{
    height: 2.2rem;
    font-size: small;
    font-weight: 700;
    color: var(--Smokey-grey);
    
}
input{
    width: 83%;
    height: 4rem;
    border: solid 2px var(--Light-grey);
    border-radius: 0.8rem;
    font-size: 2.2rem;
    font-weight: 700;
    padding-left: 1.2rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder{
    
    margin-left: 1rem;
    font-size: 1.6rem;
    color: var(--Light-grey);
}

.error{
    color: red;
    font-size: 0.6rem;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    height: 2rem;
}

/* Submit container style */

.submit-container {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 3.6rem;
    

}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 70%;
    background-color: var(--Light-grey);
    height: 2px;
}
button{
    border-radius: 4rem;
    background-color: var(--Purple);
    
}

button:hover {
    background-color: var(--Off-black);
    cursor: pointer;
    
}
.line hr{
    border: 0;
    clear: both;
    width: 75%;
    background-color:var(--Off-black);
    font-style: italic;
    height: 0.1rem;
}


/* Output frame style */

.OutputWrap{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 50%;
    width: 80%;
    /* background-color: aliceblue; */
    border-radius: 0rem 0rem 12rem 2rem;
    margin-left: 3.6rem;
    

}
.outP{
    color: hsl(259, 100%, 65%);
}


.OutputWrap p{
    font-size: 6rem;
    font-weight: 1000;
    color: #000;
    font-style: italic;
}
span{
    color: var(--Off-black);
    
}

/* Css that comes with the proyect */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Media screens modifications */

@media screen and (max-width:1015px) {
    .mainDiv{ 
        min-width: 50vw;
        
    }
}
@media  screen and (max-width:685px) {
    .body {
        width: 100vw;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        width: 100vw;
        /* min-width: 45vw; */
        align-items: center;
        justify-content: space-evenly;

    }
    .mainDiv{ 
        min-width: 40vw;
        width: 70vw; 
    }
    
    .inputWrap {
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-top: 1rem;
        gap: 0;
        justify-content: space-between;
    }
    .line{
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-right: 2rem;
        
    }

    .line hr{
        border: 0;
        clear: both;
        width: 100%;
        background-color:var(--Off-black);
        font-style: italic;
        height: 0.1rem;
        margin-right: 3rem;
        margin-left: 1rem;}
        
    
    .button {
        position: absolute;
        left: 45%;
    }
    .OutputWrap{
        margin-left: 2rem;
    }
    .OutputWrap p {
        font-size: 3.5rem;
    }

    @media screen and (max-width:375px) {
        .mainDiv{
            width: 90vw;
        }

        
    }
} 

